@if (isLoading) {
<app-loader />
}@else {

<main id="details">
    <div class="details-card">
        <div class="details-container">

            <div class="details-image">
                <img src={{cocktail.img}} alt="Product">
            </div>

            <div class="details-info">

                <div class="card-content">
                    <h2>{{ cocktail.name }}</h2>
                    <p><strong>Ingredients:</strong> {{cocktail.ingredients}} </p>
                    <p><strong>Method:</strong> {{cocktail.method}} </p>
                    <p><strong>Strength:</strong> {{cocktail.strength}} </p>
                    <p><strong>Created:</strong> {{cocktail.created | createdAt}} </p>
                    <p><strong>Likes:</strong> {{likes}} </p>
                </div>
            </div>

            <div class="card-actions">
                @if (isLogged) {
                @if (!isAuthor) {
                <button [disabled]="isLiked()" mat-raised-button (click)="like()">Like</button>
                }@else {
                <button mat-raised-button [routerLink]="'/edit/' + cocktail.objectId">Edit</button>
                <button mat-raised-button (click)="delete(cocktail.objectId)">Delete</button>
                }
                }
            </div>
        </div>
    </div>
</main>
}