<h1>My cocktails</h1>
<main id="catalogue">

    @if (isLoading) {
    <app-loader/>
    } @else if (cocktails.length === 0) {
    <h2>Don't have any cocktails yet? Add one <a routerLink="/add">here</a></h2>
    } @else() {}
    @for (cocktail of pagedCocktails; track $index){
    <div class="cardWrapper">
        <mat-card>
            <div routerLink="/cocktails/{{cocktail.objectId}}">
                <img src={{cocktail.img}} alt="Product">
                <h3>{{cocktail.name}}</h3>
            </div>
    </mat-card>
    </div>
    }

</main>

@if(cocktails.length > 0){
<mat-paginator [length]="cocktails.length" [pageSize]="5" [pageSizeOptions]="[5]" (page)="onPageChange($event)">
</mat-paginator>
}