<div class="heroSection">

    <div class="welcome">

        <div class="headings">

            <h1>Welcome to the Cocktail Lab</h1>

            <p>
                Get creative and have fun with our cocktails!
            </p>

        </div>

        <div class="buttons">

            <div class="btn">
                <a routerLink="/cocktails">Check all cocktails here</a>
            </div>

        </div>

</div>


<main id="home">

    @if(cocktails.length == 0){
    <app-loader />
    } @else {
    @for (cocktail of cocktails; track $index) {
    <mat-card>
        <div class="product-card">
            <a routerLink="/cocktails/{{cocktail.objectId}}">
                <img src={{cocktail.img}} alt="Product 2">
            </a>
            <h3>{{cocktail.name}}</h3>
        </div>
    </mat-card>
    }
    }
</main>
