#home {
    display: flex;
    padding: 20px;
    justify-content: center;
  }

  
  
  mat-card {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    margin: 25px;
  }
  
  mat-card:hover {
    transform: scale(1.05);
  }
  
  mat-card img {
    width: 270px;
    height: 270px;
    margin: 10px;
  }
  
  .product-card {
    text-align: center;
  }

  .heroSection {
    display: flex;
    padding: 50px 400px;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-self: center;
}

.welcome {
    display: flex;
    margin: 50px 0;
    background-color: white;
    padding: 40px 40px;
    flex: 1 1 80%;
    background-color: transparent;
}

.headings {
    flex: 1 1 50%;
}

.headings>h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.headings>p {
    font-size: 2em;
    font-weight: 500;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    flex: 1 1 30%;
    padding: 0px 60px;
}

.btn {
    display: flex;
    justify-content: space-around;
    align-self: flex-end;
    flex: 1 1 100%;
    background-color: #fa4081;
    color: white;
    border-radius: 3px;
    padding: 15px 0px;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
}
