#register {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  .auth-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
    text-align: center;
  }
  
  .auth-title {
    margin-bottom: 100px;
    font-size: 1.8rem;
  }
  
  .auth-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  button {
    width: 70px;
    align-self: center;
  }
  
  .login {
    margin-top: 15px;
  }

  input {
    border: none;
    background-color: inherit;
    border-bottom: 2px solid black;
  }
  
  input:focus {
    outline: none;
    background-color: inherit;
    border-bottom: 2px solid black
  }