mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: 50px;
}


.logo {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.logo img {
  width: 35px;
  height: 35px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

h1 {
  color: black;
  justify-self: flex-end;
}