<mat-toolbar >
  <div class="logo" routerLink="/home">Cocktail Lab</div>

  <div class="nav-links">
    @if (isLogged) {
      <h1 >Hello, {{ userName }}</h1>
    }  
    <button mat-raised-button routerLink="/home">Home</button>
    <button mat-raised-button routerLink="/cocktails">Catalogue</button>
    @if (!isLogged) {
    <button mat-raised-button routerLink="/register">Register</button>
    <button mat-raised-button routerLink="/login">Login</button>
    }@else {

    <button mat-raised-button routerLink="/add">Add</button>
    <button mat-raised-button (click)="logout()">Logout</button>
    }
  </div>
</mat-toolbar>

W