<mat-toolbar color="primary">
  <div class="logo" routerLink="/home">Cocktail Lab</div>

  <div class="nav-links">
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/cocktails">Catalogue</button>
    @if (!isLogged) {
    <button mat-button routerLink="/register">Register</button>
    <button mat-button routerLink="/login">Login</button>
    }@else {

    <button routerLink="/add">Add</button>
    <button (click)="logout()">Logout</button>
    <div class="welcome-message">Hello, {{ userName }}</div>
    }
  </div>
</mat-toolbar>

<!-- fix logout -->