mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
  position: fixed;
  top: 0;
  height: 50px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.welcome-message {
  margin-left: 1rem;
  font-size: 1rem;
  color: black;
}