<h1>All Cocktails</h1>

<form>
    <label>Sort By</label>
    <select (change)="onSortSelected($event)">
        <option value="newest">Newest</option>
        <option value="mostLiked">Popular</option>
        <option value="strength">Strength</option>
        <option value="a-z">A-Z</option>
        <option value="z-a">Z-A</option>
    </select>
</form>

<main id="catalogue">

    @if (cocktails.length == 0) {
    <app-loader />
    } @else {
    @for (cocktail of pagedCocktails; track cocktail.objectId){
    <mat-card>
        <div routerLink="/cocktails/{{cocktail.objectId}}">
            <img src={{cocktail.img}} alt="Product">
            <h3>{{cocktail.name}}</h3>
        </div>
    </mat-card>
    }
    }


</main>
<mat-paginator [length]="cocktails.length" [pageSize]="5" [pageSizeOptions]="[5]" (page)="onPageChange($event)">
</mat-paginator>