.btn {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 30px;
    border: 1px solid #444444;
    padding: 3px;
    margin: 1px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: #222222;
    background-color: #ffffff; 
  }

span {
  cursor: pointer
}