* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/030/601/685/non_2x/cold-lemon-drink-close-up-on-the-beach-ai-generative-free-photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}

.error {
    margin-top: 20px;
    color: red;
    font-size: large;
    font-weight: 600;
}

input::placeholder {
    color: black;
  }
  